html,body {
    background-image: url("../image/bg.png");
    background-size: 100%;
}

.content-main{
    position:absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 -600px;
    width:1200px;
    height:300px;
    border:1px solid #008800;
}

.content-left{
    position:absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 -600px;
    width:600px;
    height:300px;
    border:1px solid #008800;
}

.content-right{
    position:absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 0;
    width:600px;
    height:300px;
    border:1px solid #008800;
}